.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .slider-heading {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .slider-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .slider-image-container {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider-button:hover {
    background-color: #0056b3;
  }
  .slider-nav-button {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .slider-nav-up {
    background-image: url('../images/up_arrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .slider-nav-down {
    background-image: url('../images/down_arrow.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }